<nav>
  <div class="nav-left">
    @if (!isLoggedIn()) {
      <a routerLink="/login">התחברות</a>
      <a routerLink="/register">הרשמה</a>
    } @else if (isTeacher()) {
      <a routerLink="/manage-courses">ניהול קורסים</a>
      <button (click)="logout()">התנתקות</button>
    } @else {
      <a routerLink="/dashboard">הדשבורד שלי</a>
      <button (click)="logout()">התנתקות</button>
    }
  </div>

  @if (userName() && role()) {
    <div class="nav-right">
      שלום {{ userName() }} ({{ role() === 'teacher' ? 'מורה' : 'תלמיד' }})
    </div>
  }
</nav>

<hr />

<router-outlet></router-outlet>
